doctype html
html
  head
    title= title
    include ./links.jade
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./navbar.jade
    .container-fluid
      .row
        .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
          != messages('messages', locals)
          block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
