extends ../layout

block content
  div 
    h1 User page
  div
    dl.dl-horizontal
      dt User Id
      dd= user.userId
      dt Api Token
      dd= user.apiKey
      dt Configured cron time
      dd= user.dayStart
