extends ../layout

block content
  .container
    include ./show/top-part.jade
    .row
      .col-sm-2
        p.text-right
          strong Cron Time 
      .col-sm-6
        a(href='/users/edit')= user.cronTime
