extends ../layout

block content
  .container
    include ./show/top-part.jade
    .row
      .col-sm-2
        p.text-right
          strong Cron Time 
        p
          small 
            | This is the time at which your cron will be triggered. Your cron
            | is when everything resets for the day, you do damage to the boss,
            | and you suffere damage from missed dailies
      .col-sm-6
        a(href='/users/edit')= user.cronTime
