

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius    arguments
  border-radius         arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow    arguments
  box-shadow         arguments

filter()
  -webkit-filter arguments
  filter         arguments

body
  font-family: 'Lato', serif

a.navbar-brand, h1, .h1 
  font-family: 'Roboto', sans-serif
  font-weight: 900   

h2, h3, h4, h5, h6 
  font-family: 'Lato', serif

p
  font-family: 'Lato', serif


.visible-xs-block, .visible-sm-block 
  .title
    margin-top 0.7em
    margin-bottom 0px
    line-height 0.4em

  .subtitle
    margin-top 0px
    margin-bottom 0px

.visible-xs-block 
  .center-block
    width 200px
  img
    width 200px

.visible-sm-block 
  .center-block
    width 400px
  img
    width 200px

.visible-md-block, .visible-lg-block 
  .center-block
    width 800px

  img
    width 300px

  .parent
    position relative

  .bottom
    position absolute
    bottom 10px
    left 300px


a.brand
  font-weight 700
  font-family 'Roboto', sans-serif

  &:hover
    filter(drop-shadow(0px 0px 10px #fff))
    font-weight 900
    text-decoration none

.row.with-space
  // margin-bottom 4em

.row.seperator
  margin-bottom 1em
  & div
    border-bottom 1px dotted #DADADA

.container-fluid.content
  // background rgba(200,50,100,0.8)
  // box-shadow(0px 0px 100px -50px black);
  // border-left 1px solid #DADADA
  // border-right 1px solid #DADADA


// .side-shadow:before {
//     content "a"
//     display block
//     position relative
//     top 10%
//     height 80%
//     margin-left 5%;
//     width 90%
//     // z-index -1
//     border-radius 20%
//     box-shadow 0px 0px 500px 0px #000000
// }


