// @import 'bootstrap'

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius    arguments
  border-radius         arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow    arguments
  box-shadow         arguments

filter()
  -webkit-filter arguments
  filter         arguments

body
  font-family: 'Lato', serif

a.navbar-brand, h1 
  font-family: 'Roboto', sans-serif
  font-weight: 900   

h2, h3, h4, h5, h6 
  font-family: 'Lato', serif

p
  font-family: 'Lato', serif



a.brand
  font-weight 700
  font-family 'Roboto', sans-serif

  &:hover
    filter(drop-shadow(0px 0px 10px #fff))
    font-weight 900
    text-decoration none

.row.space
  margin-bottom 1em

  .space
    border-bottom 1px dotted #DADADA


